body {
    margin: 0;
}

body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.mybt {
    background: rgb(39, 130, 51);
    cursor: pointer;
    transition: background-color, width .3s ease;
}

.mybt:hover {
    background: rgb(18, 77, 26)
}

.mybt:disabled {
    cursor: default;
    background: rgb(150, 180, 155);
}

.theme-col {
    color: rgb(4, 46, 4);
}

.mybt,
.mybt:hover {
    border: none;
    color: #fff;
    padding: 10px
}

.mybt::-moz-focus-inner {
    border: none;
}