body {
    margin: 0;
    color: rgb(0, 51, 0);
}

body,
html {
    scroll-behavior: smooth;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 0px;
    /* padding: 0; */
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.mybt {
    background: rgb(39, 130, 51);
    cursor: pointer;
    transition: background-color, width .3s ease;
}

.mybt:hover {
    background: rgb(18, 77, 26)
}

.mybt:disabled {
    cursor: not-allowed;
    background: rgb(150, 180, 155);
}

.theme-col {
    color: rgb(4, 46, 4);
}

.mybt,
.mybt:hover {
    border: none;
    color: #fff;
    padding: 10px
}

.mybt::-moz-focus-inner {
    border: none;
}

.notification-item {
    --notification-content: "";
    --display: none;
    position: relative;
}

.notification-item::after {
    display: var(--display);
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 16px;
    font-weight: bold;
    height: 16px;
    font-size: 16px;
    border-radius: 50%;
    color: white;
    background-color: red;
    content: var(--notification-content);
    bottom: var(--notif-bottom-pos, -4px);
    right: var(--notif-right-pos, -4px);
}